body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

h1{
    color: white;
}

#img{
    height: 100%;
    width: 100%;
}

#container{
    height: 500px;
    width: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#bayrak_alan{
    height: 48%;
    width: 95%;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#cvplar{
    height: 40%;
    width: 95%;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
    margin: 1%;
}

.cvp{
    width: 53%;
    margin: 1%;
}
button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button:focus,
  button:hover {
    color: #fff;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }